body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #2596be;
    transition: 0.5s;
}

/* Header */

.header {
    background-color: plum;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo-img {
    height: 40px;
}

.header-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 50px 0;
}

.title-text {
    font-size: 48px;
    font-weight: bolder;
    color: black;
}

.subtitle-text {
    font-size: 18;
    color: darkslategray;
    margin-bottom: 8px;
}

.header .bottom .left {
    flex: 1;
}

.header .bottom .right {
    flex: 0 0 auto;
}

.header .bottom img {
    width: 300px;
    border-radius: 8px;
}

/* Information */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 32px;
}

.info-title {
    font-size: 32px;
    font-weight: bold;
}

.items {
    display: flex;
    justify-content: center;
    gap: 32px;
    text-align: center;
    flex-wrap: wrap;
}

.item img {
    border-radius: 12px;
    border: 5px solid lightblue;
    margin-bottom: 20px;
    transition: .2s;
}

.item img:hover {
    transform: scale(1.2);
}

/* Quote */

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 100px 100px;
}

.quote-text {
    font-size: 32px;
    font-weight: 0;
    font-style: oblique;
}

.quote-origin {
    font-size: 24px;
    font-weight: bolder;
    align-self: flex-end;
}

/* Sign Up */

.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 100px;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 40px 80px;
    gap: 12px
}

.signup button {
    border: 2px white solid;
}

.signup-text-title {
    font-size: 20px;
    font-weight: bold;
    color: white
}

.signup-text-subtitle {
    font-size: 18px;
    color: white
}

.signup-button {
    font-size: 18px;
    flex: none;
}


/* Footer */
.footer {
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    color: black;
    height: 90px;
}